<div>
  <input #price type="number" (keyup.enter)="fillList(price.value)" />
</div>

<div *ngFor="let item of prices">
  <ul>
    <app-big-price 
      [expensivePrice]="item" 
      [bigNumber]="1000" 
      [largerFont]="redTemplate"></app-big-price>
    <li *ngIf="item<1000">
      {{item}}
    </li>
  </ul>

</div>

<ng-template #redTemplate let-data>
  <div [style.background-color]="'red'">
    {{data}}
  </div>
</ng-template>

<ng-template #boldTemplate let-data>
  <div [style.font-weight]="'bold'">
    {{data}}
  </div>
</ng-template>

<ng-template #largerFont let-data>
  <div [style.font-size]="'large'">
    {{data}}
  </div>
</ng-template>
